# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bin/obj folders
bin/
obj/

# Temporary files
*.*~

# Build files
Makefile
*.make
*.xcodeproj
*.swp
*.sdf
*.sln
*.suo
*.ncb
*.vcproj*
*.vcxproj*
*.opensdf
*.workspace
*.project
*.tags

# Exception for premake4.exe
!windows/premake4/premake4.exe

# Exception for included libs
!libraries/**/*.lib

# Exception for included windows dlls
!windows/dlls/